<style>
  .card-header{
    padding: 0.75rem 32.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-left: 2px;
    width: 100%;
  }
</style>
<div class="card-m-3">
  <h5 class="card-header">Change Password</h5>
  <div class="card-body">
    <!--<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>-->
    <div class="card-m-3">
      <!-- <h5 class="card-header">Change Password</h5> -->
      <div class="card-body">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="form-row">
            <div class="form-group col-3">
              <label>Old Password :</label>
            </div>
            <div class="form-group col-6">
              <input
                type="password"
                name="oldPassword"
                placeholder="Old Password"
                class="form-control"
                [(ngModel)]="model.oldPassword"
                #oldPassword="ngModel"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-3">
              <label>New Password :</label>
            </div>
            <div class="form-group col-6">
              <input
                type="password"
                name="newPassword"
                placeholder="New Password"
                class="form-control"
                [(ngModel)]="model.newPassword"
                #newPassowrd="ngModel"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-3">
              <label>Confirm Password :</label>
            </div>
            <div class="form-group col-6">
              <input
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password"
                class="form-control"
                [(ngModel)]="model.confirmPassword"
                #confirmPassword="ngModel"
              />
            </div>
          </div>

          <br />
          <div class="text-center">
            <button class="btn btn-primary mr-1">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
